{% extends "layout1.html" %}

{% block title %}Curadores{% endblock %}

{% block content %}
    <h1>🧑‍🏫 Curators List</h1>
    
    <div class="tabela-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name / Extra Information</th>
            </tr>
            {% for c in curadores %}
            <tr>
                <td>{{ c.id }}</td>
                <td><strong>{{ c.extra_info }}</strong></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}