{% extends "layout.html" %}

{% block title %}Exposições{% endblock %}

{% block content %}
    <h1>🖼️ Directory of Exhibits</h1>
    
    <div class="tabela-container">
        <table>
            <tr>
                <th>Exhibit ID</th>
                <th>Exhibit Name</th>
            </tr>
            {% for e in exposicoes %}
            <tr>
                <td>{{ e.id }}</td>
                <td><strong>{{ e.title or 'Sem Título' }}</strong></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}