{% extends "layout.html" %}

{% block title %}Visitantes{% endblock %}

{% block content %}
    <h1>🎟️ Visitors Records</h1>
    
    <div class="tabela-container">
        <table>
            <tr>
                <th>Record ID</th>
                <th>Number of Visitors</th>
            </tr>
            {% for v in visitantes %}
            <tr>
                <td>{{ v.id }}</td>
                <td><strong>{{ v.n_visitors }}</strong></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}